.signInput{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: black;
}
.signInput:focus{
    width: 100%;
    height: 40px;
    outline: none;
    border-bottom: 2px solid;
    border-bottom-color: blue;
}
.content{
    min-height: 100%;
}
.dots:after{
    content: '\2807';
    font-size: 20px;
}
.w-33{
    width: 30%;
    margin-right: 10px;
}
p{
    margin-bottom: auto;
}
h5{
    color: white;
}